[Unit]
 Description=Install Kodi and enable auto update.
 Wants=network-online.target
 After=network-online.target

[Service]
 Type=oneshot
 RemainAfterExit=yes
 StandardError=journal+console
 StandardOutput=journal+console
 ExecStart=/usr/bin/pacman --sync --sysupgrade --refresh --noconfirm
 ExecStart=/usr/bin/pacman --sync --noconfirm afpfs-ng lirc polkit udisks upower unrar lsb-release python
 ExecStart=/usr/bin/pacman --sync --noconfirm lsb-release kodi-rbp omxplayer-git xorg-xrefresh xorg-xset
 ExecStart=/usr/bin/ln -s /usr/lib/systemd/system/kodi.service /etc/systemd/system/multi-user.target.wants/
 ExecStart=/usr/bin/rm /etc/systemd/system/multi-user.target.wants/first-run.service
 ExecStart=/usr/bin/reboot

[Install]
 WantedBy=multi-user.target
